ul li a{
    text-decoration: none;
}

ul{
    display:flex;
    justify-content: flex-start;
    background-color: black;
    height:40px;
}
    
a{
    line-height: 40px;
    color:white;
    margin:20px;
}

.active{
    background-color: bisque;
}
